<!--
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {background-color:lightgreen;}
		@media only screen and (max-width:1000px) {
			[class*="col-"] {
				width: 100%;
			}
		}
	</style>
	<h1>Pig Latin Translator!</h1>

	<form action="{% url 'translate' %}" >
		<input type="text" name="originaltext"/>
		<br />
		<input type="submit" value="Translate!" />
	</form> 

	<form action="{% url 'about' %}">
		<input type="submit" value="About" />
	</form>
</html>
-->
<html lang="en">
<head>
  <title>Darren Picks Your Lottery Numbers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid">
	<a href="{% url 'powerball_option' %}" class="btn btn-default btn-lg btn-block">
		{% load static %}
  		<input type="image" src="{% static 'powerball_logo.png' %}" name="saveForm" class="img-responsive" id="powerballLogo" width="561" height="127"/>
	</a>
	
</div>




<br/>
<br/>
<br/>
<br/>

</body>
</html>