<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		#pb_win_white_ball {
			display: inline-block;
			text-align: center;
			color: #333333;
			font-family: "Times New Roman";
			font-size: 25px;
			height: 40px;
			width: 40px;
			padding-top: 2px;
			padding-left: 0px;
			background-image: url('ball_white.gif');
			background-repeat: no-repeat;
			background-color: #F09581;
		}
	</style>
</head>
<body>  

	<div class="container-fluid">
		<div class="image">
			<img src="ball_white.gif" alt="" />
			<b><font size="5" background="ball_white.gif">10</font></b>
		</div>
	</div>
	<div style="margin: auto; width: 100%; text-align: center;">
	        <div class="pb_winning_number_white_ball" id="pb_win_white_ball">
	            10
	        </div>      
	</div>
	{% for i in regs %}
		{{ i }}
	{% endfor %}
	<br />
	{{ pb }}

</body>
</html>